################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LazoWeb/bin
/LazoWeb/obj/Debug
/packages
/lazowebDb/obj/Debug
/LazoWeb/obj/Release/AspnetCompileMerge/Source/bin
/LazoWeb/obj/Release
/Database/obj/Debug
/LazoDb/obj/Debug
/LazoDb/LazoDb.dbmdl
/LazoDb/LazoDb.jfm
/LazoWeb/Migrations
