@{
    Layout = null;
}
<div class="row" id="tao-lap">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
        <img class="img-responsive" src="~/Content/img/imgProduct_Service/page-3_0000_Group-4.png" />
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="row content">
            <h3>Tạo lập và phân công lộ trình/địa bàn làm việc</h3>
            <ul>
                <li>Thêm/Xóa/Cập nhật thông tin lộ trình</li>
                <li>Hiển thị thông tin lộ trình cho thiết bị di động</li>
                <li>Thêm/Xóa/Cập nhật thông tin lịch trình</li>
                <li>Hiển thị thông tin lịch trình cho thiết bị di động</li>
                <li>Hiển thị (vẽ) danh sách lộ trình trên map</li>
                <li>Phân công lộ trình, địa bàn và lịch trình làm việc cho nhân viên</li>
            </ul>
            <br />
            <a class="btn" href="@Url.Action("Register","Customers")">ĐĂNG KÝ</a>
        </div>
    </div>
</div>