@{
    Layout = null;
}
<div class="row" id="follow-report">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="row content">
            <h3>Theo dõi, báo cáo, thống kê</h3>
            <ul>
                <li>Bản đồ theo thời gian thực</li>
                <li>Báo cáo thời gian làm việc</li>
                <li>báo cáo lộ trình làm việc</li>
                <li>Đánh giá từ khách hàng</li>
                <li>Nhân viên báo cáo làm việc (START, CHECKIN, CHECKOUT, DONE, ...) giữa thiết bị di động và server</li>
                <li>Hiển thị bản đồ trên thiết bị di động</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
        <img class="img-responsive" src="~/Content/img/imgProduct_Service/page-3_0004_imac.png" />
    </div>
</div>
