@{
    Layout = null;
}
<div class="row tochucquanly">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 left">
        <div class="tochuc">
            <h2>Tổ chức và quản lý danh sách nhân viên:</h2>
            <ul>
                <li>Thêm/Xóa/Cập nhật thông tin nhân viên</li>
                <li>Phân quyền cho nhân viên</li>
                <li>Sơ đồ tổ chức</li>
                <li>Lịch sử làm việc của nhân viên</li>
                <li>Nhập dữ liệu từ file excel</li>
                <li>Thông tin nhân viên đang online</li>
            </ul>
        </div>
        <div class="tinhnang">
            <h2>Quản lý danh sách điểm làm việc</h2>
            <ul>
                <li>Thêm/Xóa/Cập nhật thông tin địa điểm</li>
                <li>Danh mục kiểu địa điểm (khách hàng, đại lý, địa bàn hoạt động)</li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 right">
        <img src="~/Content/img/imgProduct_Service/12.png" class="img-responsive imgToChuc" alt="" />
    </div>
</div>
