@{
    Layout = null;
}
<div class="letstart row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-center">
        <h2 class="">Let's Start Together</h2>
        <button class="btnDowload btn btn-outline-dark">Download</button>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <img src="~/Content/img/imgPriceList/page-4_0001_0.1-Cover-app.png" class="img-responsive hinhanh" alt="" />
    </div>
</div>
