
@{
    Layout = null;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Bạn đã xác nhận tài khoản.Vui lòng @Html.ActionLink("lick vào đây để đăng nhập vào hệ thống", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
