
@{
    Layout = null;
}
<div>
    <h4>
        Bạn đã xác nhận tài khoản.Vui lòng @Html.ActionLink("Click vào đây để đăng nhập vào hệ thống", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h4>
</div>
