
@{
    ViewBag.Title = "Tạo mới tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_LauoutAdmin.cshtml";
}

<div class="text-center">
    <h2><i class="fas fa-check-circle text-success"></i>Tạo mới tài khoản</h2>
    <p>Đã tạo mới tài khoản thành công</p>
    <p>
        Vui lòng xác nhận Email để có thể đăng nhập vào hệ thống!
    </p>
</div>

