body {
}
@font-face {
    font-family: utm avo;
    src: url('~/fonts/UTM Avo.ttf') format(‘truetype’);
    font-weight: normal;
    font-style: normal;
}
/*acb*/
.infolazo {
    margin: auto;
    padding-left: 4.6%;
    padding-right: 4.6%;
}

.visao {
    padding-bottom: 35px;
}

    .visao h2 {
        color: deepskyblue;
        font-size:42px;
        font-family: 'utm avo';
        padding-bottom: 21px;
    }

    .visao ul li {
        font-size: 18px;
        font-family: Arial;
        padding-bottom: 5px;
    }

.tinhnang h2 {
    color: deepskyblue;
    font-size: 42px;
    font-family: 'utm avo';
}

.tinhnang ul li {
    font-size: 18px;
    font-family: Arial;
    padding-bottom: 5px;
}
/*css img*/
.imageinfo {
    width: 77%;
}

@media only screen and (max-width: 1280px) {
    .imageinfo {
        width: 90%;
    }
}
@media only screen and (max-width: 800px) {
    .visao {
        padding-bottom: 5px;
    }
        .visao ul li {
            font-size: 14px;
        }

    .tinhnang ul li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 774px) {
    .visao ul li {
        font-size: 14px;
    }
    .tinhnang ul li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
    .visao {
        text-align: center;
    }

    .tinhnang {
        text-align: center;
        padding-bottom: 15px;
    }

    .imageinfo {
        text-align: center;
        width: 60%;
    }
    
}
