body {
}

@font-face {
    font-family: utm avo;
    src: url('~/fonts/UTM Avo.ttf') format(‘truetype’);
    font-weight: normal;
    font-style: normal;
}
/*acb*/
.infolazo {
    clear: both;
    margin: auto;
    padding-top: 5%;
    padding-left: 4.6%;
    padding-right: 4.6%;
}

    .infolazo .visao {
        padding-bottom: 30px;
    }

        .infolazo .visao h2 {
            color: #4c6ff3;
            font-size: 42px;
            font-family: 'utm avo';
            padding-bottom: 21px;
        }

        .infolazo .visao ul li {
            font-size: 18px;
            font-family: Arial;
            line-height: 30px;
        }

    .infolazo .tinhnang h2 {
        color: #4c6ff3;
        font-size: 42px;
        font-family: 'utm avo';
        padding-bottom: 21px;
    }

    .infolazo .tinhnang ul li {
        font-size: 18px;
        font-family: Arial;
        padding-bottom: 5px;
        line-height: 30px;
    }
    /*css img*/
    .infolazo .imageinfo {
        width: 77%;
    }

@media only screen and (max-width: 1280px) {
    .imageinfo {
        width: 90%;
    }
}

@media only screen and (max-width: 1230px) {
    .imageinfo {
        width: 90%;
    }

    .infolazo .tinhnang h2 {
        font-size: 36px;
    }

    .infolazo .tinhnang ul li {
        font-size: 16px;
    }

    .infolazo .visao h2 {
        font-size: 36px;
    }

    .infolazo .visao ul li {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1130px) {

    .infolazo .tinhnang h2 {
        font-size: 30px;
    }

    .infolazo .tinhnang ul li {
        font-size: 16px;
    }

    .infolazo .visao h2 {
        font-size: 30px;
    }

    .infolazo .visao ul li {
        font-size: 16px;
    }
}

@media only screen and (max-width: 800px) {
    .infolazo .visao {
        padding-bottom: 5px;
    }

        .infolazo .visao ul li {
            font-size: 14px;
        }

    .infolazo .tinhnang ul li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 774px) {
    .infolazo .visao ul li {
        font-size: 14px;
    }

    .infolazo .tinhnang ul li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
    .infolazo .visao {
        text-align: center;
    }

    .infolazo .tinhnang {
        text-align: center;
        padding-bottom: 15px;
    }

    .infolazo .imageinfo {
        text-align: center;
        width: 60%;
    }
}
