#ask-question, #ask-question .row {
    margin-left: 0;
    margin-right: 0;
}

    #ask-question .content {
        margin-top: 4%;
        margin-bottom: 4%;
    }

        #ask-question .content h3 {
            font-family: 'UTM Avo';
            font-size: 42px;
            color: #4b6ff4;
        }

        #ask-question .content p {
            font-family: Arial;
            font-size: 18px;
        }

    #ask-question img {
        width: 70%;
        margin-bottom: 5%;
    }


@font-face {
    font-family: 'FontAwesome';
    src: url('../font/webfonts/fa-brands-400.ttf') format('truetype');
    src: url('../font/webfonts/fa-regular-400.ttf') format('truetype');
    src: url('../font/webfonts/fa-solid-900.ttf') format('truetype');
}

#questions .item {
    margin-bottom: 3%;
}

#questions .button {
    display: flex;
    cursor: pointer;
    margin-bottom: 1%;
    min-height: 40px;
}

    #questions .button .a-q {
        width: 92%;
        background-color: #f2f3f5;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    #questions .button .icon {
        width: 8%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3d00b4;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

        #questions .button .icon span::after {
            content: "\f054";
            font-family: "FontAwesome";
            color: white;
        }
        #questions .open .icon span::after {
            content: "\f078";
        }
/*css responsive*/

@media only screen and (max-width: 1230px) {
    #ask-question .content h3 {
        font-size: 38px;
    }

    #ask-question .content p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1134px) {
    #ask-question.content h3 {
        font-size: 30px;
    }

    #ask-question .content p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1115px) {
    #questions .button .a-q{
        font-size:15px;
    }
    #questions .card-body {
        font-size: 15px;
    }
}
@media only screen and (max-width: 964px) {
    #questions .button .a-q{
        font-size:14px;
    }
    #questions .card-body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 990px) {
    #ask-question .content h3 {
        font-size: 25px;
    }

    #questions a span {
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
    #ask-question .content {
        margin-top: 7%;
        margin-bottom: 5%;
    }

    #ask-question .image-map {
        text-align: center !important;
    }
}
