#signup-page{
    margin-left: 0;
    margin-right: 0;
}
    #signup-page .form .input-zone {
        text-align:center;
    }
    #signup-page .form .input-zone div{
        margin:auto;
        padding-bottom: 20px;
    }
        #signup-page .form .input-zone div input{
            background-color: #e1e1e1;
        }
#signup-page .captcha{
    margin-left:6%;
    text-align:left;
}