#signup-page {
    margin-left: 0;
    margin-right: 0;
}

    #signup-page .form .input-zone {
        text-align: center;
    }

        #signup-page .form .input-zone div {
            margin: auto;
            padding-bottom: 20px;
        }

    #signup-page .captcha {
        margin-left: 6%;
        text-align: left;
    }

    #signup-page #tree img {
        width: 100%;
        margin-left: -10%;
        margin-top: -60px;
    }

#btn-submit {
    background-color: #4c6ff3;
    color: white;
}
#btn-submit:hover{
    background-color: #0649c2;
}

#signup-page #glasses img {
    width: 100%;
    margin-top: 400px;
}

@media only screen and ( max-width: 1069px) {
    #signup-page #tree img {
        margin-top: 0px;
    }
}

@media only screen and ( max-width: 767px) {
    #signup-page #tree, #glasses {
        display: none;
    }

    #signup-page .form {
        margin: auto;
    }
}

.captcha a {
    color: gray;
}

    .captcha a:hover {
        color: #936969;
    }

.captcha #CaptchaImage {
    float: left;
    margin-right: 1%;
}

.captcha #CaptchaInputText {
    width: auto;
    padding: .375rem .1rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
