@font-face {
    font-family: utm avo;
    src: url('~/fonts/UTM Avo.ttf') format(‘truetype’);
    font-weight: normal;
    font-style: normal;
}

#carouselExampleIndicators .carousel-indicators li {
    border-radius: 10px;
    height: 10px;
    width: 10px;
}

#carouselExampleIndicators {
    margin: 0 auto;
    margin-top: -4%;
}

    #carouselExampleIndicators .anhnen {
        position: absolute;
        width: 100%;
    }

    #carouselExampleIndicators .khunganhtren {
        padding-top: 9%;
        padding-left: 23%;
    }

    #carouselExampleIndicators .anhtren {
        width: 96%;
    }

    #carouselExampleIndicators .anhduoi {
        width: 90%;
        margin-top: -30%;
        margin-bottom: -22%;
        position: relative;
    }

    #carouselExampleIndicators .chu {
        padding-top: 15%;
        padding-right: 10%;
        float: right;
        padding-left: 4.6%;
    }

    #carouselExampleIndicators h1 {
        font-size: 36px;
        color: white;
        font-family: 'utm avo';
    }

    #carouselExampleIndicators h3 {
        padding-top: 17px;
        font-size: 18px;
        color: white;
        font-family: 'utm avo';
        text-align: center;
        padding-right: 50px;
    }

        #carouselExampleIndicators h3 .h3tren {
            padding-top: 13px;
        }

        #carouselExampleIndicators h3 .h3duoi {
            padding-top: 17px;
        }

    #carouselExampleIndicators ol {
        bottom: 56%;
        left: 80%;
    }

    #carouselExampleIndicators .carousel-indicators {
        display: block;
    }

        #carouselExampleIndicators .carousel-indicators li {
            display: block;
            margin-top: 5px;
        }

    #carouselExampleIndicators .carousel-control-prev {
        visibility: hidden;
    }

    #carouselExampleIndicators .carousel-control-next {
        visibility: hidden;
    }

@media only screen and (max-width: 1300px) {
    #carouselExampleIndicators h3 {
        display:none;
    }
}

@media only screen and (max-width: 1200px) {
    #carouselExampleIndicators .anhduoi {
        height: 100%;
    }

    @media only screen and (max-width: 1100px) {

        #carouselExampleIndicators .anhduoi {
            margin-bottom: -22%;
        }
    }

    @media only screen and (max-width: 1067px) {

        /*#carouselExampleIndicators .anhduoi {
            height: 70%;
            margin-top: -40%;
        }*/
    }

    @media only screen and (max-width: 1000px) {
        #carouselExampleIndicators .anhduoi {
            margin-bottom: -22%;
        }
    }

    @media only screen and (max-width: 931px) {
        #carouselExampleIndicators .anhduoi {
            margin-bottom: -22%;
        }
    }

    @media only screen and (max-width: 900px) {
        #carouselExampleIndicators .row {
            height: auto;
        }

        /*#carouselExampleIndicators .anhduoi {
            margin-top: -38%;
        }*/

        #carouselExampleIndicators .anhnen {
            position: absolute;
            height: auto;
        }

        #carouselExampleIndicators h1 {
            font-size: 1.5em;
        }
    }

    @media only screen and (max-width: 861px) {
        #carouselExampleIndicators .anhduoi {
        }
    }

    @media only screen and (max-width: 831px) {
        #carouselExampleIndicators .anhduoi {
        }
    }

    @media only screen and (max-width: 800px) {
        #carouselExampleIndicators .anhduoi {
        }
    }

    @media only screen and (max-width: 761px) {
        #carouselExampleIndicators .anhduoi {
        }

        #carouselExampleIndicators .row {
            /*height: 487px;*/
        }
    }

    @media only screen and (max-width: 731px) {
        /*#carouselExampleIndicators .anhduoi {
            margin-top: -55%;
            height: 65%;
        }*/
    }

    @media only screen and (max-width: 700px) {
        #carouselExampleIndicators .row {
            /*height: 510px;*/
        }

        /*#carouselExampleIndicators .anhduoi {
            margin-top: -59%;
            height: 58%;
        }*/


        .carousel-indicators {
            visibility: hidden;
        }

        #carouselExampleIndicators .carousel-control-prev {
            visibility: visible;
            height: 87%;
        }

        #carouselExampleIndicators .carousel-control-next {
            visibility: visible;
            height: 87%;
        }
    }


    @media only screen and (max-width: 631px) {
        /*#carouselExampleIndicators .anhduoi {
            margin-top: -78%;
            height: 58%;
        }*/
    }

    @media only screen and (max-width: 600px) {
        #carouselExampleIndicators .row {
            /*height: 370px;*/
        }
    }

    @media only screen and (max-width: 575px) {
        #carouselExampleIndicators .khunganhtren {
            width: 50%;
        }

        #carouselExampleIndicators .chu {
            width: 50%;
        }

        #carouselExampleIndicators h1 {
            font-size: 1.5em;
        }
    }

    @media only screen and (max-width: 500px) {
        #carouselExampleIndicators h1 {
            font-size: 1em;
        }

        #carouselExampleIndicators .chu {
            width: 46%;
        }
    }

    @media only screen and (max-width: 430px) {
        #carouselExampleIndicators .row {
            /*height: 256px;*/
        }
    }

    @media only screen and (max-width: 320px) {
        #carouselExampleIndicators h1 {
            font-size: 0.8em;
        }
    }
