body {
}

@font-face {
    font-family: utm avo;
    src: url('~/fonts/UTM Avo.ttf') format(‘truetype’);
    font-weight: normal;
    font-style: normal;
}

.khachangtieubieu {
    margin: auto;
    padding: 3% 1.3% 0% 6.2%;
}

.anhbentrai {
    text-align: right;
}

.noidung {
    padding-top: 97px;
    padding-right: 43px;
}

.noidungkhachhang {
    padding-top: 50px;
}

    .noidungkhachhang p {
        font-size: 20px;
        font-family: Arial;
        padding-top: 10px;
    }

    .noidungkhachhang h2 {
        font-size: 42px;
        font-family: 'utm avo';
    }

.imagetypical {
    padding-top: 80px;
}

/*css logo*/
.anhlogohangtren {
    border-bottom: 2px solid silver;
}

.imganhlogohangtren {
    width: 100%;
}

.anhlogohangtren1 {
    border-right: 2px solid silver;
}


.anhlogohangduoi1 {
    border-right: 2px solid silver;
}

.imganhlogohangduoi {
    width: 100%;
}
.imagetypical {
    width: 90%;
}


@media only screen and (max-width: 1280px) {
    /*.imagetypical {
        width: 90%;
    }*/
}

@media only screen and (max-width: 1173px) {
    .logokhachang {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1094px) {
    .imagetypical {
        width: 90%;
        padding-top: 133px;
    }
}

@media only screen and (max-width: 991px) {
    .imagetypical {
        width: 100%;
        padding-top: 44px;
    }

    .noidung {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 850px) {
    .imagetypical {
        width: 85%;
        padding-top: 142px;
    }
}

@media only screen and (max-width: 767px) {
    .imagetypical {
        text-align: center;
        width: 60%;
        padding-top: 105px;
    }

    .anhbentrai {
        text-align: center;
    }

    .noidungkhachhang {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 575px) {
    .logokhachang {
        text-align: center;
    }

    .logo6 {
        margin: 0 auto;
    }

    .anhlogohangtren {
        width: 32.5%;
        text-align: center;
    }

    .anhlogohangduoi1 {
        width: 32.5%;
        text-align: center;
    }

    .anhlogohangduoi2 {
        width: 32.5%;
        text-align: center;
    }
}
