body {
}
@font-face {
    font-family: utm avo;
    src: url('~/fonts/UTM Avo.ttf') format(‘truetype’);
    font-weight: normal;
    font-style: normal;
}
.khachangtieubieu {
    margin: auto;
    padding: 3% 1.3% 0% 6.2%;
}
.anhbentrai {
    text-align: right;
}
.noidung {
    padding-top: 97px;
    padding-right: 43px;
}

.noidungkhachhang {
    padding-top: 50px;
}

    .noidungkhachhang p {
        font-size: 20px;
        font-family: Arial;
        padding-top: 10px;
    }
    .noidungkhachhang h2 {
        font-size: 42px;
        font-family: 'utm avo';
    }

.imagetypical {
    padding-top: 80px;
}

/*css logo*/
.anhlogohangtren {
    height: 98px;
    width: 200px;
    border-bottom: 2px solid silver;
}

.anhlogohangtren1 {
    border-right: 2px solid silver;
}
.logokhachang {
    padding-left: 24px;
    padding-right: 19px;
}

.logoankhue {
    width: 75%;
}

.anhlogohangduoi1 {
    border-right: 2px solid silver;
}

.imganhlogohangduoi {
    padding-top: 22px;
}

.hoveranh:hover {
    transform: scale(1.2,1.2);
}

@media only screen and (max-width: 1280px) {
    .imagetypical {
        width: 90%;
    }

    .logoankhue {
        width: 84%;
    }
}

@media only screen and (max-width: 1173px) {
    .logoankhue {
        width: 100%;
    }
}

@media only screen and (max-width: 1073px) {
    .imagetypical {
        width: 90%;
        padding-top: 105px;
    }

    .logoankhue {
        width: 108%;
    }

    .imganhlogohangduoi {
        width: 100px;
    }
}

@media only screen and (max-width: 1000px) {
    .imagetypical {
        width: 90%;
        padding-top: 105px;
    }

    .logoankhue {
        width: 122%;
    }

    .imganhlogohangduoi {
        width: 100px;
    }
}

@media only screen and (max-width: 991px) {
    .logokhachang {
        margin-bottom: 20px;
    }

    .imagetypical {
        width: 100%;
        padding-top: 44px;
    }

    .noidung {
        padding-top: 0px;
    }

    .logoankhue {
        width: 127%;
    }

    .imganhlogohangduoi {
        padding-top: 7px;
        width: 84px;
    }
}

@media only screen and (max-width: 872px) {
    .logo6 {
        width: 350px;
    }

    .imganhlogohangtren {
        width: 80%;
    }

    .imganhlogohangduoi {
        width: 90%;
    }

    .logoankhue {
        width: 110%;
    }

    .anhlogohangtren {
        height: 85px;
    }
}

@media only screen and (max-width: 850px) {
    .imagetypical {
        width: 85%;
        padding-top: 142px;
    }

    .logoankhue {
        /*width: 80%;*/
    }
}
@media only screen and (max-width: 815px) {
    .logo6 {
        width: 299px;
    }
    .anhlogohangtren {
        height: 69px;
    }
    /*.imagetypical {
        width: 85%;
        padding-top: 102px;
    }*/
}

@media only screen and (max-width: 767px) {
    .imagetypical {
        text-align: center;
        width: 60%;
        padding-top: 105px;
    }
    .anhbentrai {
        text-align: center;
    }
    .noidungkhachhang {
        padding-top: 0px;
    }

    .logoankhue {
        /*width: 100%;*/
    }

    .logokhachang {
        padding: 0% 29%;
    }
}

@media only screen and (max-width: 575px) {
    .logokhachang {
        padding: 0% 18%;
    }

    .anhlogohangtren {
        height: 72px;
        width: 99px;
        text-align: center;
    }

    .anhlogohangduoi1 {
        height: 40px;
        width: 99px;
        text-align: center;
    }

    .anhlogohangduoi2 {
        height: 40px;
        width: 99px;
        text-align: center;
    }

    .logoankhue {
        width: 109%;
    }
}

@media only screen and (max-width: 467px) {
    .logokhachang {
        padding: 0% 15%;
    }

    .logo6 {
        width: 329px;
    }
}

@media only screen and (max-width: 441px) {
    .logokhachang {
        padding: 0% 7%;
    }
}
@media only screen and (max-width: 375px) {
    .logokhachang {
        padding: 0% 7%;
    }
}
@media only screen and (max-width: 320px) {
    .anhlogohangtren {
        height: 65px;
        width: 91px;
        text-align: center;
    }
    .anhlogohangduoi2 {
        height: 65px;
        width: 91px;
        text-align: center;
    }
    .anhlogohangduoi1 {
        height: 44px;
        width: 91px;
        text-align: center;
    }
}

