<footer class="list-footer">
    <div class="row footer-content">
        <div class="col-xs-6 col-lg-6 col-md-6 col-sm-12 footer-left">
            <h3>IOT LINK COMPANY</h3>
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt"></i> 
                    614bis Lạc Long Quân, Tây Hồ, Hà Nội
                </li>
                <li>
                    <i class="fas fa-map-marker-alt"></i> 
                    63 Phan Đăng Lưu, Hải Châu, Đà Nẵng
                </li>
                <li>
                    <i class="fas fa-map-marker-alt"></i> 
                    Số 561A Điện Biên Phủ, Phường 25, Quận Bình Thạnh, TP Hồ Chí Minh
                </li>
                <li>
                    <i class="fas fa-phone"></i>
                    0247.3085.555 - 0236.3811.678 - 0287.3066.867
                </li>
            </ul>
            <h5><a href="">Tính năng</a> |  <a href="">Tải về</a> | <a href="@Url.Action("Register","Customers")">Đăng ký</a> | <a href="@Url.Action("QuestionAnswer","Home")">Hỏi đáp</a></h5>
            <hr />
        </div>
        <div class="col-xs-6 col-lg-6 col-md-6 col-sm-12 footer-right">
            <div class="col-xs-6 image">
                <a href="#"><img src="~/Content/img/page-1_0011_fb.png" alt="Alternate Text" /></a>
                <a href="#"><img src="~/Content/img/page-1_0012_Twitter.png" alt="Alternate Text" /></a>
                <a href="#"><img src="~/Content/img/page-1_0013_pinterest.png" alt="Alternate Text" /></a>
                <a href="#"><img src="~/Content/img/page-1_0014_instar.png" alt="Alternate Text" /></a>
            </div>
            <div class="col-xs-6 footer-right-bottom">
                <p>Bản quyền 2018 <a href="//iotlink.com.vn">Công ty CP IOTLINK</a></p>
                <p>Nội dung và biểu tượng thuộc thương hiệu <a href="//iotlink.com.vn">Công ty CP IOTLINK</a></p>
            </div>
        </div>
    </div>
</footer>
