<div class="row" id="menu-top">
    <nav class="navbar navbar-expand-lg fixed-top" width="100%">
        <a class="navbar-brand" href="@Url.Action("Index","Home")"> <img class="logo" src="~/Content/img/page-1_0031_logo-trang.png" height="40"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"> <b>SẢN PHẨM &amp; DỊCH VỤ</b> </a>
                </li>
                <li class="character nav-link">|</li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Register","Customers")"><b>ĐĂNG KÝ</b></a>
                </li>
                <li class="character nav-link">|</li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>BẢNG GIÁ</b></a>
                </li>
                <li class="character nav-link">|</li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>HỎI ĐÁP</b></a>
                </li>
                <li class="nav-item" id="btn-english" >
                    <a class="btn ml-2" href="#"><b>ENGLISH</b></a>
                </li>
            </ul>
        </div>
    </nav>
</div>