@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Lỗi";
}
<h2 class="text-danger text-center" style="padding-bottom: 20%; padding-top: 2%;">
    Đã xảy ra lỗi khi xử lý yêu cầu của bạn.
</h2>

