<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thông tin của khách hàng</title>
</head>
<body style="color:black">
    <div style="text-align:center;">
        <h4>Cảm ơn bạn đã đăng ký sử dụng dịch vụ Lazo. Chúng tôi sẽ liên hệ với bạn ngay khi có thể</h4>
    </div>
    <div style="background-color: #efcccc;">
        <table style="width: 60%; margin:auto; background-color:white;">
            <tr style="background-color:#b11b1b; color:white; height:40px;">
                <th colspan="2" style="text-align: center;">Thông tin khách hàng</th>
            </tr>
            <tr style="background-color: #eae9e9;">
                <td style="width:50%;">Họ và tên</td>
                <td>{{Name}}</td>
            </tr>
            <tr>
                <td>Tên Công ty</td>
                <td>{{Company}}</td>
            </tr>
            <tr style="background-color: #eae9e9;">
                <td>Số lượng nhân viên</td>
                <td>{{NumberEmployee}} nhân viên</td>
            </tr>
            <tr>
                <td>Địa chỉ liên hệ</td>
                <td>{{Phone}}</td>
            </tr>
            <tr style="background-color: #eae9e9;">
                <td>Địa chỉ Email</td>
                <td>{{Email}}</td>
            </tr>
        </table>
    </div>
</body>
</html>
