@font-face {
    font-family: utm avo;
    src: url('~/fonts/UTM Avo.ttf') format(‘truetype’);
    font-weight: normal;
    font-style: normal;
}

.letstart {
    margin: auto auto -1px auto;
    background-image: linear-gradient(to top, #4774e4, #67baf7);
}

    .letstart h2 {
        padding-top: 25%;
        padding-left: 29%;
        font-style: normal;
        font-family: 'utm avo';
        font-size: 42px;
        color: #fff;
    }

#download-app-buttons {
    margin-top: 5%;
    margin-left: 14%;
}

    #download-app-buttons #btn-left {
        text-align: right;
    }
    
    #download-app-buttons #btn-right {
        text-align: left;
    }

    #download-app-buttons a {
        width: 185px;
        height: 45px;
        border-radius: 20px;
        border-color: white;
    }

        #download-app-buttons a:hover {
            background-color: #4774e4;
        }

.letstart .hinhanh {
    width: 100%;
    padding-right: 11%;
}

@media only screen and (max-width: 1165px) {
    .letstart h2 {
        padding-top: 29%;
        padding-left: 0;
    }

    .letstart .btnDowload {
        margin-left: 0;
    }

    #download-app-buttons {
        margin-left: 0;
    }
}

@media only screen and (max-width: 991px) {
    #download-app-buttons a {
        width: 155px;
    }
}

@media only screen and (max-width: 850px) {
    .letstart h2 {
        font-size: 32px;
    }

    .letstart .btnDowload {
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {
    .letstart h2 {
        padding-top: 5%;
    }
}
@media only screen and (max-width: 575px) {
    #download-app-buttons #btn-left, #download-app-buttons #btn-right {
        text-align: center;
        margin-bottom:2%;
    }
}

@media only screen and (max-width: 385px) {
    .letstart h2 {
        font-size: 24px;
    }

    .letstart .btnDowload {
        font-size: 16px;
    }
}
