@font-face {
    font-family: utm avo;
    src: url('~/fonts/UTM Avo.ttf') format(‘truetype’);
    font-weight: normal;
    font-style: normal;
}

.tochucquanly .left {
    padding-left: 8.5%;
    padding-top: 9%;
    padding-bottom: 6%;
    max-width: 43%;
    flex: 43%;
}

.tochucquanly .right {
    max-width: 57%;
    flex: 57%;
}

.tochucquanly {
    margin-left: 0;
    margin-right: 0;
}

    .tochucquanly .left .tochuc h2 {
        font-family: "utm avo";
        font-size: 42px;
        font-style: normal;
        color: #6684f5;
        padding-bottom: 3%;
    }

    .tochucquanly .left .tochuc ul {
        list-style-type: inherit;
        padding-left: 5%;
    }

        .tochucquanly .left .tochuc ul li {
            font-family: Arial;
            font-size: 18px;
            color: #4c4c4c;
            line-height: 30px;
        }

    .tochucquanly .left .tinhnang h2 {
        font-family: "utm avo";
        font-size: 42px;
        font-style: normal;
        padding-right: 10%;
        color: #6684f5;
        padding-bottom: 3%;
    }

    .tochucquanly .left .tinhnang ul {
        padding-left: 5%;
        list-style-type: inherit;
    }

        .tochucquanly .left .tinhnang ul li {
            font-family: Arial;
            font-size: 18px;
            padding-right: 16%;
            line-height: 30px;
            color: #4c4c4c;
        }


    .tochucquanly .right .imgToChuc {
        width: 96%;
        padding-top: 3%;
    }

@media only screen and (max-width: 1312px) {
    .tochucquanly .left .tinhnang h2 {
        padding-right: 0;
        font-size: 40px;
    }

    .tochucquanly .left .tochuc h2 {
        padding-right: 0;
        font-size: 40px;
    }
}

@media only screen and (max-width: 1290px) {
    .tochucquanly .left .tinhnang h2 {
        font-size: 38px;
    }

    .tochucquanly .left .tochuc h2 {
        font-size: 38px;
    }
}

@media only screen and (max-width: 1230px) {
    .tochucquanly .left .tochuc h2 {
        font-size: 36px;
    }

    .tochucquanly .left .tochuc ul li {
        font-size: 16px;
    }

    .tochucquanly .left .tinhnang h2 {
        font-size: 36px;
    }

    .tochucquanly .left .tinhnang ul li {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1162px) {
    .tochucquanly .left .tinhnang h2 {
        font-size: 32px;
    }

    .tochucquanly .left .tochuc h2 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 1134px) {
    .tochucquanly .left .tochuc h2 {
        font-size: 30px;
    }

    .tochucquanly .left .tochuc ul li {
        font-size: 14px;
    }

    .tochucquanly .left .tinhnang h2 {
        font-size: 30px;
    }

    .tochucquanly .left .tinhnang ul li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 990px) {
    .tochucquanly .left .tochuc h2 {
        font-size: 25px;
    }

    .tochucquanly .left .tinhnang h2 {
        font-size: 25px;
    }

    .tochucquanly .right .imgToChuc {
        padding-top: 10%;
    }
}

@media only screen and (max-width: 800px) {
    .tochucquanly .left .tochuc h2 {
        font-size: 25px;
    }

    .tochucquanly .left .tinhnang h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 840px) {
    .tochucquanly .left {
        max-width: 50%;
        flex: 50%;
    }

    .tochucquanly .right {
        max-width: 50%;
        flex: 50%;
    }

    .tochucquanly .left .tochuc h2 {
        font-size: 24px;
        padding-right: 0px;
    }

    .tochucquanly .left .tochuc ul li {
        font-size: 12px;
    }

    .tochucquanly .left .tinhnang h2 {
        font-size: 24px;
        padding-right: 0px;
    }

    .tochucquanly .left .tinhnang ul li {
        font-size: 12px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 767px) {

    .tochucquanly .right .imgToChuc {
        width: 80%;
        padding: 5% 0 5% 15%;
    }

    .tochucquanly .left {
        max-width: 100%;
        flex: 100%;
    }

    .tochucquanly .right {
        max-width: 100%;
        flex: 100%;
    }

    .tochucquanly .left .tochuc h2 {
        font-size: 25px;
        padding-right: 0px;
    }

    .tochucquanly .left .tochuc ul li {
        font-size: 14px;
    }

    .tochucquanly .left .tinhnang h2 {
        font-size: 25px;
        padding-right: 0px;
    }

    .tochucquanly .left .tinhnang ul li {
        font-size: 14px;
        padding-right: 0px;
    }
}

