@{
    Layout = null;
}
<div class="row" id="customers-feedback">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="customers-feedback-title">
        <h2>Ý kiến khách hàng</h2>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-fluid" id="customers-slide">
            <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="0">
                <div class="carousel-inner row w-100 mx-auto items" role="listbox" id="parentID">
                    <div class="carousel-item col-md-4 active" data-id="0">
                        <img class="img-fluid mx-auto d-block img-responsive" src="~/Content/img/Customer1.png" alt="slide 2">
                    </div>
                    <div class="carousel-item col-md-4" data-id="1">
                        <img class="img-fluid mx-auto d-block" src="~/Content/img/Customer2.png" alt="slide 3">
                    </div>
                    <div class="carousel-item col-md-4" data-id="2">
                        <img class="img-fluid mx-auto d-block" src="~/Content/img/Customer3.png" alt="slide 4">
                    </div>
                    <div class="carousel-item col-md-4 " data-id="3">
                        <img class="img-fluid mx-auto d-block" src="~/Content/img/Customer4.png" alt="slide 3">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                    <h3><i class="fas fa-angle-left"></i></h3>
                </a>
                <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                    <h3><i class="fas fa-angle-right"></i></h3>
                </a>
            </div>
    </div>
    <div class="col-md-12 text-center" id="feedback-content">
        <div class="col-md-8 col-md-offset-8 container-fluid">
            <h4></h4>
            <p>
            </p>
        </div>
    </div>
</div>