@{
    Layout = null;
}
<div class="row" id="our-pricing">
    <div class="row text-center content col-md-12">
        <h3 class="text-center col-md-12">
            Bảng giá
        </h3>
        <p class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mx-auto">
            IOTLink sẽ gửi tới Quý khách hàng bảng báo giá các gói của Hệ thống phần mềm Lazo sau khi chúng tôi cập nhật.
        </p>
    </div>
    @*<div class="row container mx-auto" id="prices">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="item-left">
            <div class="col-md-11 text-center item">
                <div class="header">
                    <div class="header-content">
                        <span>$ </span><h1 style="display:inline">29<span>/ </span><small>Month</small></h1>
                        <h3>Basic</h3>
                    </div>
                </div>
                <div class="price-content">
                    <ul>
                        <li>1000 MB Disk Space</li>
                        <li>100 Products ncluded</li>
                        <li><strike>5 hours of suport</strike></li>
                        <li><strike>Free sub domain</strike></li>
                        <li><strike>All mockup included</strike></li>
                    </ul>
                    <button class="btn btn-primary">Order Now</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"  id="item-center">
            <div class="col-md-11 mx-auto text-center item">
                <div id="seller">
                    <h4 class="mx-auto">* Best Seller *</h4>
                </div>
                <div class="header">
                    <div class="header-content">
                        <span>$ </span><h1 style="display:inline">29<span>/ </span><small>Month</small></h1>
                        <h3>Basic</h3>
                    </div>
                </div>
                <div class="price-content">
                    <ul>
                        <li>1000 MB Disk Space</li>
                        <li>100 Products ncluded</li>
                        <li>5 hours of suport</li>
                        <li>Free sub domain</li>
                        <li><strike>All mockup included</strike></li>
                    </ul>
                    <button class="btn btn-primary">Order Now</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="item-right">
            <div class="col-md-11 text-center item">
                <div class="header">
                    <div class="header-content">
                        <span>$ </span><h1 style="display:inline">29<span>/ </span><small>Month</small></h1>
                        <h3>Basic</h3>
                    </div>
                </div>
                <div class="price-content">
                    <ul>
                        <li>1000 MB Disk Space</li>
                        <li>100 Products ncluded</li>
                        <li>5 hours of suport</li>
                        <li>Free sub domain</li>
                        <li>All mockup included</li>
                    </ul>
                    <button class="btn btn-primary">Order Now</button>
                </div>
            </div>
        </div>        
    </div>*@
</div>
