@{
                /**/

                Layout = null;
}
<div class="row khachangtieubieu">
    <div class="col-lg-6 col-sm-12 col-xs-6 col-md-6 anhbentrai">
        <img class="img-responsive imagetypical" src="~/Content/img/page-1_0021_3.1-Notification.png" alt="Alternate Text" />
    </div>
    <div class="col-lg-6 col-sm-12 col-xs-6 col-md-6 text-center noidung">
        <div class="noidungkhachhang">
            <h2>Khách hàng tiêu biểu</h2>
            <p>Một số khách hàng chúng tôi đã hợp tác</p>
        </div>
        <div class="logokhachang">
            <div class="row logo6">
                <a class="col-lg-4 col-md-4 col-xs-4 col-sm-4 anhlogohangtren anhlogohangtren1" href="#"><img class="imganhlogohangtren img-responsive" src="~/Content/img/imglogo/Untitled-1_0005_logo-cocobay-danang-empire-group.png" alt="Alternate Text" /></a>
                <a class="col-lg-4 col-md-4 col-xs-4 col-sm-4 anhlogohangtren anhlogohangtren1" href="#"><img class="imganhlogohangtren img-responsive" src="~/Content/img/imglogo/Untitled-1_0000_1-03.png" alt="Alternate Text" /></a>
                <a class="col-lg-4 col-md-4 col-xs-4 col-sm-4 anhlogohangtren" href="#"><img class="imganhlogohangtren img-responsive" src="~/Content/img/imglogo/Untitled-1_0001_Marry-1.png" alt="Alternate Text" /></a>
            </div>
            <div class="row logo6">
                <a class="col-lg-4 col-md-4 col-xs-4 col-sm-4 anhlogohangduoi1" href="#"><img class="imganhlogohangduoi img-responsive" src="~/Content/img/imglogo/Untitled-1_0002_dn.lis.png" alt="Alternate Text" /></a>
                <a class="col-lg-4 col-md-4 col-xs-4 col-sm-4 anhlogohangduoi1" href="#"><img class="imganhlogohangduoi img-responsive" src="~/Content/img/imglogo/Untitled-1_0003_logo-cty-01.png" alt="Alternate Text" /></a>
                <a class="col-lg-4 col-md-4 col-xs-4 col-sm-4 anhlogohangduoi2" href="#"><img class="imganhlogohangduoi img-responsive" src="~/Content/img/imglogo/Untitled-1_0004_download.png" alt="Alternate Text" /></a>
            </div>
        </div>
    </div>
</div>
